

<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<!--
<tbody>
<tr *ngFor="let materialUrl of materialUrls; let i =index">
  <td>{{i}}</td>
  <td>{{materialUrl}}</td>
</tr>
</tbody>-->




opopopo

<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://127.0.0.1:9000/dragon-temporary/%E8%AF%97%E6%99%AE%E7%90%B3.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=H37JPMBG6CY4I7FWA44J%2F20240207%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240207T070556Z&X-Amz-Expires=43200&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJIMzdKUE1CRzZDWTRJN0ZXQTQ0SiIsImV4cCI6MTcwNzMzMTk3NCwicGFyZW50Ijoicm9vdCJ9.q5la5oAKIbOktNtF1yU-OAMEXTzIDF2ihpG9lNFfQKwUiuoy86ugBLLQaEhLfKdEgpXQbLCXrWbNaHmKtAzzDQ&X-Amz-SignedHeaders=host&versionId=null&X-Amz-Signature=0225a87343bb204c941d8757c83f06a2f28598e0f3aba4c69cd2d214f9381953"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://safe-img.xhscdn.com/bw1/59d16e3c-93ec-41a7-a059-e3627a640a58"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://safe-img.xhscdn.com/bw1/59d16e3c-93ec-41a7-a059-e3627a640a58"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://127.0.0.1:9000/dragon-temporary/%E8%AF%97%E6%99%AE%E7%90%B3.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=H37JPMBG6CY4I7FWA44J%2F20240207%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240207T070556Z&X-Amz-Expires=43200&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJIMzdKUE1CRzZDWTRJN0ZXQTQ0SiIsImV4cCI6MTcwNzMzMTk3NCwicGFyZW50Ijoicm9vdCJ9.q5la5oAKIbOktNtF1yU-OAMEXTzIDF2ihpG9lNFfQKwUiuoy86ugBLLQaEhLfKdEgpXQbLCXrWbNaHmKtAzzDQ&X-Amz-SignedHeaders=host&versionId=null&X-Amz-Signature=0225a87343bb204c941d8757c83f06a2f28598e0f3aba4c69cd2d214f9381953"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://127.0.0.1:9000/dragon-temporary/%E8%AF%97%E6%99%AE%E7%90%B3.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=H37JPMBG6CY4I7FWA44J%2F20240207%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240207T070556Z&X-Amz-Expires=43200&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJIMzdKUE1CRzZDWTRJN0ZXQTQ0SiIsImV4cCI6MTcwNzMzMTk3NCwicGFyZW50Ijoicm9vdCJ9.q5la5oAKIbOktNtF1yU-OAMEXTzIDF2ihpG9lNFfQKwUiuoy86ugBLLQaEhLfKdEgpXQbLCXrWbNaHmKtAzzDQ&X-Amz-SignedHeaders=host&versionId=null&X-Amz-Signature=0225a87343bb204c941d8757c83f06a2f28598e0f3aba4c69cd2d214f9381953"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://127.0.0.1:9000/dragon-temporary/%E8%AF%97%E6%99%AE%E7%90%B3.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=H37JPMBG6CY4I7FWA44J%2F20240207%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240207T070556Z&X-Amz-Expires=43200&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJIMzdKUE1CRzZDWTRJN0ZXQTQ0SiIsImV4cCI6MTcwNzMzMTk3NCwicGFyZW50Ijoicm9vdCJ9.q5la5oAKIbOktNtF1yU-OAMEXTzIDF2ihpG9lNFfQKwUiuoy86ugBLLQaEhLfKdEgpXQbLCXrWbNaHmKtAzzDQ&X-Amz-SignedHeaders=host&versionId=null&X-Amz-Signature=0225a87343bb204c941d8757c83f06a2f28598e0f3aba4c69cd2d214f9381953"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://safe-img.xhscdn.com/bw1/59d16e3c-93ec-41a7-a059-e3627a640a58"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://safe-img.xhscdn.com/bw1/59d16e3c-93ec-41a7-a059-e3627a640a58"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://safe-img.xhscdn.com/bw1/59d16e3c-93ec-41a7-a059-e3627a640a58"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://safe-img.xhscdn.com/bw1/59d16e3c-93ec-41a7-a059-e3627a640a58"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <img mat-card-image src="http://safe-img.xhscdn.com/bw1/59d16e3c-93ec-41a7-a059-e3627a640a58"
           alt="描述000000">
      <mat-card-content>
        <p>这里是图片的描述或者其他内容。</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
