<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>系统设置</li>
      <li nz-menu-item>HRM</li>
      <li nz-menu-item>CRM</li>
      <li nz-menu-item>BI</li>
    </ul>
  </nz-header>

  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light" class="menu-sidebar"
              nzCollapsible
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="menu-container">
        <ul nz-menu nzMode="inline" class="sidebar-menu" [nzInlineCollapsed]="isCollapsed">
          <div>
            <li nz-submenu nzOpen nzIcon="user" nzTitle="权限管理">
              <ul>

                <li nz-menu-item nzMatchRouter nzSelected>
                  <a routerLink="/temp">临时</a>
                </li>

                <li nz-menu-item nzMatchRouter nzSelected>
                  <a routerLink="/iam/user/user-page">用户</a>
                </li>

                <li nz-menu-item>菜单</li>
                <li nz-menu-item>角色</li>

                <li nz-menu-item nzMatchRouter>
                  <a routerLink="/iam/department">部门</a>
                </li>

                <li nz-menu-item>岗位</li>
              </ul>
            </li>

            <li nz-submenu nzIcon="notification" nzTitle="日志管理">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="/welcome">Welcome</a>
                </li>
              </ul>
            </li>

            <li nz-submenu nzIcon="notification" nzTitle="认证">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="/iam/auth/login">登录</a>
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </div>
    </nz-sider>

    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>

  </nz-layout>
</nz-layout>
